
.footer__rodape {
    background-color: #9ec6f9;
    text-align: center;
    padding-top: 20px;
    font-size: 0.5rem;
    width: 100%;
    margin: 0;
}

.footer__img {
    width: 30px;
}


@media (min-width: 768px) {
    .footer__rodape{
        font-size: 0.8rem;
        margin: 0;
        padding-top: 10px;
    }
    .footer__img {
        width: 30px;
    }
}
@media (min-width: 1024px) {
    .footer__rodape {
        background-color: #9ec6f9;
        text-align: center;
        padding-top: 20px;
    }
    
    .footer__img {
        width: 50px;
    }
}