.insumos__container {
    width: 100%;
}

.insumos__titulo {
    margin: 60px 30px 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.insumos__ver_todo {
    font-size: 0.6rem;
    color: #2A7AE4;
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.insumos__starwars .insumos__producto__starwars:nth-last-child(-n+2) {
    display: none;
}

.insumos__consolas .insumos__producto__consolas:nth-last-child(-n+2) {
    display: none;
}

.insumos__otros .insumos__producto__otros:nth-last-child(-n+2) {
    display: none;
}

.insumos__starwars,
.insumos__consolas,
.insumos__otros {
    display: grid;
    grid-template-columns: 185px 185px;
    justify-items: center;
    justify-content: center;
    gap: 10px;

}

.insumos__imagenes {
    width: 166px;
    height: 164px;
}

.insumos_descripcion {
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    text-align: left;
    width: 170px;
}

.insumos__precio {
    font-size: 1.3rem;
    margin: 0;
}

.insumos__ver__producto {
    font-size: 0.6rem;
    color: #2A7AE4;
    margin: 0;
}

@media (min-width: 768px) {

    .insumos__container{
        width: 768px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .insumos__starwars,
    .insumos__consolas,
    .insumos__otros {
        display: grid;
        grid-template-columns: repeat(4, 167px);
        gap: 16px;
        margin-left: 5px;
    }
    .insumos__imagenes {
        width: 166px;
        height: 164px;
    }

    .insumos__titulo{
        width: 730px;
    }
}