input {
    font-family: 'Raleway';
    text-align: left;
    border: none;
    padding: 2px;
    font-weight: lighter;
}

.login__container {
    width: 100%;
}

.login__titulo {
    font-size: 2rem;
}

.login__botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap:36px;
}

.login__correo, .login__input__contraseña{
    width: 350px;
    height: 40px;
    background-color:#FFF;
}

.login__btn {
    display: flex;
    width: 109px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    background: var(--azul-100, #2A7AE4);
}

@media (min-width: 768px) {
    .login__correo,
    .login__input__contraseña{
        width: 350px;
        height: 60px;
    }

}
@media (min-width: 1440px) {
    .login__container {
        display: flex;
        flex-direction: column;
        padding: 32px;
        width: 100%;
    }
    .login__botones{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        background-color: transparent;
    }
    .login__input__padre{
        background: var(--preto-branco, #FFF);
    }
    .login__correo, .login__input__contraseña, .login__btn{
        height: 65px;
        width: 430px;
        font-size: 18px;
    }
}