/* Estilos para pantallas grandes */
.menu__inferior__container {
    display: flex;
    align-items: flex-start;
    gap: 112px;
    margin-left: 152px;
    margin-right: 152px;
    padding: 64px 0 64px 0;
}

.inferior__logo {
    margin-right: 112px;
}

.inferior__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    padding: 0;
}

.menu__lista__descripción {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 0;
    width: 170px;
    margin-right: 112px;
}

.contacto {
    max-width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.contacto__input {
    background-color: #ffffff;
    border-radius: 4px;
    width: 480px;
    height: 48px;
}

.contacto__input__mensaje {
    background-color: #ffffff;
    width: 480px;
    height: 66px;
    border-radius: 4px;
}

.enviar__btn {
    background-color: #2A7AE4;
    color: #F5F5F5;
    border: none;
    width: 129px;
    height: 51px;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .menu__inferior__container {
        display: grid;
        grid-template-columns: 300px 434px;
        /* Divide en dos columnas */
        grid-column-gap: 32px;
        /* Espacio entre columnas */
        gap: 10px;
        /* Espaciado entre elementos */
        margin: 32px;
        /* Margen para separar del borde de la pantalla */
        width: 100%;
    }
    .inferior__logo{
        margin-bottom: 10px;
    }
    .inferior__menu {
        grid-column: 1 / span 1;
        margin-top: 0;
        text-align: initial;
    }

    .menu__lista__descripción{
        margin: 0 0 10px 0;
    }


    .contacto {
        grid-column: 2 / span 1;
        /* Ocupa la segunda columna */
        align-items: center;
        /* Centra el contenido en la segunda columna */
        margin-top: 32px;
        /* Margen superior para separar del contenido superior */
    }
}

@media (min-width: 425px) {}