button {
    font-family: 'Raleway';
    text-align: center;
    border: 0;
    background-color: transparent;
}
.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 360px;
}

.img_logo {
    width: 100px;
}

.menu__buscador {
    display: none;
}

.menu__buscador__barra {
    display: flex;
}

.menu__buscador__input {
    display: flex;
    border: none;
    background-color: transparent;
    text-align: initial;
    font-size: 1rem;
}

.busqueda__boton {
    border: none;
    background-color: transparent;
}

.menu__btn_login {
    border: 1.5px solid #2A7AE4;
    color: #2A7AE4;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}
@media (min-width: 768px) {
    .menu__container{
        margin: 22px 32px 22px 32px;
    }
    .menu__buscador__barra{
    width: 272px;
    }
    
}
@media (min-width: 1024px) {
.menu__container {
    margin: 32px 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    padding: 0;
    margin: 0;
    width: 170px;
}

.img_logo {
    width: 150px;
}

.menu__buscador {
    display: flex;
    padding: 0;
    flex-grow: 2;
    margin-left: 16px;
}

.menu__buscador__barra {
    display: flex;
    width: 500px;
    border-radius: 25px;
    height: 24px;
    padding: 8px 16px;
    background-color: #F5F5F5;
    overflow: hidden;
}

.menu__buscador__input {
    display: flex;
    border: none;
    background-color: transparent;
    text-align: initial;
    font-size: 1rem;
    width: 100%;
}

.busqueda__boton {
    border: none;
    background-color: transparent;
}

.menu__btn_login {
    border: 1.5px solid #2A7AE4;
    color: #2A7AE4;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
}