button {
    font-family: 'Raleway';
    text-align: center;
}


.menu__container {
    margin: 32px 152px;
    /* 32px arriba y abajo, 152px izquierda y derecha */
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos al principio y al final */
    align-items: center;
    /* Alinea verticalmente al centro */
}

.menu__logo {
    margin: 0;
    padding: 0;
}
.img_logo{
    width: 150px;
}
.menu__buscador {
    display: flex;
    padding: 0;
    width: 100%;
}

.menu__buscador__barra {
    display: flex;
    width: 500px;
    /* Ancho fijo de la barra de búsqueda */
    border-radius: 25px;
    height: 24px;
    padding: 8px 16px;
    /* Elimina el padding derecho e izquierdo */
    background-color: #F5F5F5;
    overflow: hidden;
}

.menu__buscador__input {
    border: none;
    background-color: transparent;
    text-align: initial;
    font-size: 1rem;
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

.busqueda__boton {
    border: none;
    background-color: transparent;
}

.menu__btn_login {
    border: 1.5px solid #2A7AE4;
    color: #2A7AE4;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {

    @media (max-width: 768px) {
        .menu__container {
            margin: 32px;
            /* Margen de 32px en todos los lados */
            align-items: center;
            justify-content: space-around;
        }

        .menu__logo {
            width: 100px;
            /* Ancho del logo de 100px */
        }

        .img_logo {
            width: 100px;
            /* Ancho de la imagen del logo de 100px */
        }

        .menu__buscador {
            width: 340px;
            /* Ancho de la barra de búsqueda de 340px */
        }

        .menu__buscador__barra {
            width: 272px;
            /* Ancho de la barra de búsqueda de 272px */
        }

        .menu__btn_login {
            width: 134px;
            /* Ancho del botón de inicio de sesión de 134px */
            height: 40px;
            font-size: 14px;
            text-align: center;
            padding-bottom: 6px;
        }
    }

}
@media (min-width: 425px) {
    .menu__container {
        display: flex;
        padding: 0;
        margin: 16px;
        justify-content: space-between;
    }
    .img_logo {
        width: 100px;
        order: 1;
    }
    .menu__buscador {
        order: 3;
        width: 60px;
    }
    .menu__buscador__input {
        display: none;
    }
    .menu__buscador__barra {
        background: transparent;
        padding: 0;
        display: flex;
        justify-content: end;
        width: 100%;
    }
    .menu__btn_login {
        width: 130px;
        order: 2;
        padding: 0;
        border: 2px solid;
    }
    .busqueda__boton {
        padding: 0;
    }
    .buscador__imagen{
        width: 30px;
    }
    input{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}


