input {
    font-family: "Raleway";
    text-align: left;
    border: none;
    padding: 2px;
    font-weight: lighter;
}

.nuevo__producto__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    background: rgba(245, 245, 245, 1);
}

.nuevo__producto__input__correo {
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 0;
}

.nuevo__producto__padre {
    background-color: #fff;
}

.producto__texto__input {
    color: var(--preto-50, #a2a2a2);
    width: 390px;
}

.nuevo__producto__input {
    width: 385px;
}

.nuevo__producto__btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    background: var(--azul-100, #2a7ae4);
}

@media (min-width: 768px) {
    .nuevo__producto__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nuevo__producto__padre {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .producto__texto__input {
        color: var(--preto-50, #a2a2a2);
        width: 736px;
    }

    .nuevo__producto__input {
        width: 731px;
        font-size: 1rem;
    }

    .nuevo__producto__btn {
        font-size: 1rem;
        width: 731px;
    }
}

@media (min-width: 1440px) {
    .nuevo__producto__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
