.promociones__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.promociones__imagen {
    width: 1500px;
    z-index: -1;
}

.promociones__titulo {
    position: relative;
    top: 30px;
    color: #F5F5F5;
    font-size: 15px;
    margin-left: 8px;
}

.promociones__texto {
    position: relative;
    top: 30px;
    color: #F5F5F5;
    font-size: 10px;
    font-weight: lighter;
    margin-left: 8px;
}

.promociones__btn {
    position: relative;
    top: 30px;
    background-color: #2A7AE4;
    color: #F5F5F5;
    border: none;
    width: 90px;
    margin: 8px;
    height: 25px;
    font-size: 12px;

}

.promociones__imagen {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: -1;
}


@media (min-width: 768px) {

    .promociones__container {
        width: 100%;
        display: flex;
    }
    .promociones__titulo {
        color: #F5F5F5;
        position: relative;
        top: 85px;
        font-size: 1.5rem;
    }
    
    .promociones__texto {
        font-weight: lighter;
        font-size: 1rem;
        position: relative;
        top: 85px;
    }
    
    .promociones__btn {
        border: none;
        width: 120px;
        margin: 8px;
        height: 40px;
        font-size: 1rem;
        position: relative;
        top: 83px;
    
    }

}

@media (min-width:1440px) {
    .promociones__container {
        width: 100%;
        display: flex;
    }

    .promociones__imagen{
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    .promociones__titulo {
        color: #F5F5F5;
        position: absolute;
        top: 290px;
        font-size: 3rem;
        margin-left: 30px;
    }
    
    .promociones__texto {
        font-weight: lighter;
        font-size: 2rem;
        position: absolute;
        top: 360px;
        margin-left: 30px;
    }
    
    .promociones__btn {
        border: none;
        width: 180px;
        margin-left: 30px;
        height: 60px;
        font-size: 1.5rem;
        position: absolute;
        top: 410px;
    
    }
}