


@media(min-width: 425px) {
    .promociones__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .promociones__titulo{
        margin-left: 16px;
        font-size: 1.5rem;
        padding: 0;
        width: 100%;
    }
    .promociones__texto{
        margin-left: 16px;
        font-size: 1rem;
        padding: 0;
    }
    .promociones__btn{
        margin-left: 16px;

    }
    .promociones__imagen {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}

@media (min-width:1040px) {
.promociones__container {
    width: 100%;
}
.promociones__imagen {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: -1; 
}

.promociones__titulo {
    color: #F5F5F5;
    font-size: 3rem;
    padding-top: 150px;
    margin: 0;
    margin-left: 150px;
    width: 100%;
}

.promociones__texto {
    color: #F5F5F5;
    font-size: 1.5rem;
    margin-left: 150px;
    margin-bottom: 20px;
    padding: 0;
}

.promociones__btn {
    background-color: #2A7AE4;
    color: #F5F5F5;
    border: none;
    width: 129px;
    height: 51px;
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: 1rem;

}

@media (min-width: 768px) {

    .promociones__container {
        width: 768px;
        padding: 32px;
        display: flex;
        height: 352px;
        flex-direction: column;
        align-items: flex-start;
    }
    .promociones__titulo{
        margin:0;
        padding-top: 180px;
    }
    .promociones__texto {
        margin: 0 0 12px 0;
    }
    .promociones__btn{
        margin: 0;
    }
}
}