/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #ffffff;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1.5;
    width: 100%;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

input {
    font-family: 'Raleway';
    text-align: left;
    border: none;
    background-color: transparent;
    color: #2A7AE4;
    padding: 2px;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    font-family: 'Raleway';
    text-align: center;
}

span{
    text-align: start;
}
.menu{
    width: 100%;
}
.insumos {
    margin-top: 120px;
    width: 100%;
}
.menu_inferior {
    background-color: rgba(234, 242, 253, 1);
    margin: 0; 
    padding: 0;
    width: 100%;
}

.login, .productos{
    background-color: rgba(245, 245, 245, 1);
    width: 100%;
}
.contacto{
    display: grid;
    flex-direction: column;
    gap: 16px;
}
@media (min-width: 768px) {
    .menu{
        width: 100%;
    }
    .login {
        padding: 0;
    }
    .menu__container{
        display: flex;
        margin: 16px 32px 16px 32px;
        padding: 0;
    }
    .promociones{
        width: 100%;
        height: 200px;
    }
    .insumos{
        margin-top: 0;
        width: 100%;
    }

}

@media (min-width: 1440px) {
.insumos {
    width: 100%;
    margin-top: 150px;
    margin-left: 0 ;
}

.login{
    background-color: rgba(245, 245, 245, 1);
    padding: 50px 0 50px 0;

}
}

